<app-grid [rows]="4" [columns]="2">
  <app-grid-child [columnStart]="1" [columnEnd]="2">
    <div class="fill">
      <p>Test One</p>
    </div>
  </app-grid-child>
  <app-grid-child [columnStart]="1" [columnEnd]="2">
    <div class="fill two">
      <p>Test Two</p>
    </div>
  </app-grid-child>
  <app-grid-child>
    <div class="fill">
      <p>Test Three</p>
    </div>
  </app-grid-child>
  <app-grid-child>
    <div class="fill two">
      <p>Test Four</p>
    </div>
  </app-grid-child>
</app-grid>
<router-outlet></router-outlet>